@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A4 landscape;
    margin: 6mm;
  }

  html, body {
    height: auto !important;
    overflow: hidden !important;
  }

  body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    color: #000 !important;
  }

  table {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
  }

  table th,
  table td {
    padding: 1px 4px !important;
  }
}
